<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
</head>
<body>
<header  th:object="${user}"><span th:text="${user.username}"></span></header>
<div th:object="${user}" id="user">
  <h1>First Name: <span th:text="${user.firstName}"></span></h1>
  <h2>Last Name: <span th:text="${user.lastName}"></span></h2>
  <p>Date Of Birth: <span th:text="${user.dateOfBirth}"></span></p>
  <p>Bio: <span th:text="${user.bio}"></span> </p>
  <img src="https://i.pinimg.com/originals/20/21/47/202147a8e6a40faef0c82c75f2547820.jpg" alt="P.p"/><br>
</div>
<div th:each="post: ${posts}">
  <p><span th:text="${post.time}"></span></p>
  <p><span th:text="${post.body}"></span></p>
</div>


</body>
</html>