<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
  <link rel="stylesheet" href="@{style.css}"/>
</head>
<body>
<header  object="${user}"><span text="${user.username}"></span></header>
<main>

  <form  method="get" action="/profile">
    <button name="name" type="submit" value=${user.username}>My Profile</button>
  </form>



  <form  method = RequestMethod.GET action="/allUsers"  >
    <button name="name" type="submit" value=${user.username}>Community</button>
  </form>


  <h1>Welcome to CodeFellow ship</h1>
  <p>CodeFellow-Ship App allows you to learn coding and to connect with people using this app and support each other on the coding journeys.</p>



</main>
<footer>

</footer>
</body>
</html>