<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="@{style}"/>
</head>
<body>

<header>
    <form method="get" action="/login">
        <button type="submit">Sign In</button>
    </form>
</header>
<main>
    <h1>Welcome to CodeFellow ship</h1>
    <p>CodeFellow-Ship App allows you to learn coding and to connect with people using this app and support each other on the coding journeys.</p>
    <form method="get" action="/signup">
        <button type="submit">Sign Up</button>
    </form>

</main>
<footer>

</footer>
</body>
</html>