<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
</head>
<body>
<div th:object="${user}" id="user">
  <h1>First Name: <span th:text="${user.firstName}"></span></h1>
  <h2>Last Name: <span th:text="${user.lastName}"></span></h2>
  <p>Date Of Birth: <span th:text="${user.dateOfBirth}"></span></p>
  <p>Bio: <span th:text="${user.bio}"></span> </p>
  <img th:src="https://i.pinimg.com/originals/20/21/47/202147a8e6a40faef0c82c75f2547820.jpg"/><br>

</div>

</body>
</html>